<div class="container">

    <h3>Add a student</h3>

    <div>

        <label>Name</label>

        <%= @student.name %>

    </div>
    <div>

        <label>Email</label>

        <%= @student.email %>

    </div>



    <div>

        <label>StudentId</label>

        <%= @student.studentid%>

    </div>



    <div>

        <%= link_to 'Back',"/" %>

    </div>



</div>